body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.ig_left{
    float: left;
    position:relative;
    margin-left: 250px;
}
.ig_right{
    margin-top: 30px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    
}
.login_area{
    border: 1px solid rgb(214, 214, 214);
    text-align: center;
    width: 300px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.logo{
    margin-top: 30px;
    margin-bottom: 20px;
    height:50px;
}
.button_login{
    color: white;
    background-color: #4cb5f9;
    border:0px;
    border-radius: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    width:100%;
    height: 32px;
    font-weight: bold;
}
#form_separator{
    font-size: 18px;
}
hr{
    width: 103px;
    display: inline-block;
    border: none;
    border-top: 1px solid rgb(227, 227, 227);
}
#or{
    color: #737373;
    font-size: 12px;
    font-weight: 500;

}
a{
    text-decoration: none;

}
.phone{
    margin-top: 20px;
}
.form_input{
    font-size: 11px;
    width: 230px;
    color: black;
    background-color: #fafafa;
    height: 34px;
    border: 1.5px solid rgb(227, 227, 227);
    border-radius: 3px;
    padding-left: 8px;
    margin-top: 10px;
}
.login_facebook{
    margin: 10px 0;
}
.login_facebook_text{
    color: #0095f6;
    font-size: 14px;
    font-weight: 600;
}
#forgot_pass {
    margin-bottom: 15px;
    font-size: 14px;
    color: #00376b;
}
#bottom_text{
    text-align: center;
}
#bottom_login{
    margin: 10px 0;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid rgb(214, 214, 214);
    width: 280px;
    font-size: 14px;
}

.apps {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#apps_text{
    margin: 15px 0px;
    text-align: center;
}

.apps_download {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
