.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 40px 0;
}
.back{
    background-color: #66b2ff;
}
button{
    color: white;
}
img {
    max-width: 140px;
    max-height: 140px;
    border-radius: 8px;
}
a {
    width: 150px;
    color: #ec9c9c;
    text-align: center;
    margin-top: 17px;
    padding: 5px;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
