body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: darkgray;
}

nav {
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: gray;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

nav a:active{
  cursor: wait;
  color: #ff9999;
}

.main {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.box {
  margin-bottom: 20px;
  padding: 15px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.album-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: white;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.album-item button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button {
  background: #e24aad;
  color: white;
}

button:hover {
  background: #c9248f;
}
