body{
    background-color:rgb(242,244,247); 
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
.container{
   
    margin: 0;
}
.content{
   display: flex;
   justify-content: space-between; 
   margin-top: 90px;
   flex-wrap:wrap;
}
.content__greeting{
    padding-top: 112px;
    margin-bottom: 200px;
}
.content__logo{
    max-width:320.94px;
    max-height: 53.578px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}
.content__text{
    font-size: 28px;
    margin-left: 125px;
    width: 120mm;
}
.form{
    min-width: 396px;
}
.content__form{
    box-shadow: 20px;
}
.form__upper{
    margin-right: 100px;
    background-color: white;
    padding:16px 0px 24px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.form__inner{
    position: relative;
    max-width: 364px;
    margin: 0 auto;
}
.form__inner > *{
    width: 85%;
    margin-top: 12px;
    margin-left: 10px;
}
.form__text{
    margin-left: 5px;
}
.form__text_bold{
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.form_input{
    border-radius: 6px;
    border-color: lightgray;
    font-size: 18px;
    padding: 14px 16px;
    ;
}
.form__button_login{
    background-color: #0866ff;
    color:white;
    width: 95%;
    margin-bottom:14px;
}
.form__link{
    color: #0866ff;
    

}
.button{
    min-height: 48px;
    border-radius: 6px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0px;
    
}
.button_green{
    background-color: #42b72a;
    color: white;
    margin-top:14px;
    padding-left: 15px;
    padding-right: 15px;
}
footer{
    background-color: white;
   
}
footer a{
    text-decoration: none;
    color:#8a8d91;
    font-size: 12px;
}
.footer__cont{
    margin: auto;
    height: inherit;
    width:980px;
    padding-top: 20px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    list-style-type: none;
}
.plus{
    align-items: center;
    color:#8a8d91;
    max-height: 16px;
    display: flex;
    margin-top: 2px;
}


