a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.head{
    font-family:'Goudy Old Style';
    margin: 0 0;
    padding: 5px 0;
    height: 100%;
    width: 100%;
    flex: 0 1 auto; 
    text-align: center;
    background-color: #CCCCFF;
}

.body a{
    color: black;
}
.body {
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
    margin: 0;
}
nav {
    background-color:azure;
    text-align: center;
    padding: 10px 5px;
  }
